<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.canbit.daily-h8-softgate-candidate-ops</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/jeongminjun/Projects/Can_bit/scripts/run_daily_h8_softgate_candidate_ops.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>13</integer>
        <key>Minute</key>
        <integer>15</integer>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/jeongminjun/Projects/Can_bit</string>

    <key>StandardOutPath</key>
    <string>/Users/jeongminjun/Projects/Can_bit/data/ops_logs/launchd_h8_softgate_candidate_stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/jeongminjun/Projects/Can_bit/data/ops_logs/launchd_h8_softgate_candidate_stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/jeongminjun</string>
    </dict>

    <key>RunAtLoad</key>
    <false/>

    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>
